body {
    margin: 0;
}
.gps {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #afbac0;
}
.one {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #5fc0cd;
    padding: 10px 0 0 0;
}
.one i {
    background: url(./images/task1.png)
    no-repeat;
    background-size: 22px 20px;
    width: 42px;
    height: 44px;
    position: absolute;
    right: 0;
}
.seek {    
    height: 28px;
    margin: -4px 0 0 0;
    border-style: none;
    border-radius: 6.5px;
    margin-right: -.25rem;
}
.button {
    background-color: #55a8b3; 
    color: #ffffff; 
    outline: none;
}
.button:hover {
    background-color: #ffffff;
    color: #55a8b3;
    outline: none;
}
.menu {
    display: flex;
    justify-content: space-around;
    border: none; 
    margin: 0;
    background-color: #ffffff;
    width: 100%;
}
.dropdown{
    display:inline-block;
    width: 33.333%;
}
.romm {
    background-color: #ffffff;
    color: #afbac0;
    border:none;
    margin: 0;
    padding:5px;
    font-size:16px;
    outline: none;
    border-left: 3px solid transparent;
    width: 100%;
}
.sick {
    background-color: #ffffff;
    color: #afbac0;
    border:none;
    margin:0;
    padding:5px;
    font-size:16px;
    outline: none;
    border-right: 3px solid transparent;
    width: 100%;
}
.eat {
    background-color: #ffffff;
    color: #afbac0;
    border:none;
    margin: 5px 0;
    font-size:16px;
    border-left: 1px solid #e3e7e8;
    border-right: 1px solid #e3e7e8;
    outline: none;
    width: 100%;
} 
.egd {
   position: absolute;
   top: 42%;
   left: 87%;
   width:0;
   height:0;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   border-top: 6px solid #afbac0;
}

.egd-1 {
   position: absolute;
   top: 42%;
   left: 81%;
   width:0;
   height:0;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   border-top: 6px solid #afbac0;
}
.egd-2 {
   position: absolute;
   top: 42%;
   left: 87%;
   width:0;
   height:0;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   border-top: 6px solid #afbac0;
}
.content {
    display:none;
    position:absolute;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.content-1 {
    display:none;
    position:absolute;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.content-2 {
    display:none;
    position:absolute;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.content a {
    display:block;
    color: #afbac0;
    padding: 5px 5px;
    text-align:center;
}
.content-1 a {
    display:block;
    color: #afbac0;
    padding: 5px 5px;
    text-align:center;
} 
.content-2 a {
    display:block;
    color: #afbac0;
    padding: 5px 5px;
    text-align:center;
}
.content a:hover {
    background-color:#afbac0;
    text-decoration: none;
}
.content-1 a:hover {
    background-color:#afbac0;
    text-decoration: none;
}
.content-2 a:hover {
    background-color:#afbac0;
    text-decoration: none;
}   
.dropdown:hover .content {
    display:block;
}
.dropdown:hover .content-1 {
    display:block;
}
.dropdown:hover .content-2 {
    display:block;
}
.details {
    display: flex;
    justify-content: space-between;
    margin: 73px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.details-1 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #afbac0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.details-2 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #afbac0;
    margin: 0 0 50px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rmb p {
    position: relative;
    right: 43px;
    bottom: -30px;
    color: red;
}
.rmb a {
    position: relative;
    right: -15px;
    bottom: 7px;
    font-size: 25px;
    color: #5fc0cd;
}
.rmb a:hover {
    text-decoration: none;
}
.money p {
    position: relative;
    right: 43px;
    bottom: -32px;
    color: red;
}
.money a {
    position: relative;
    right: -15px;
    bottom: 5px;
    font-size: 25px;
    color: #5fc0cd;
}
.money a:hover {
    text-decoration: none;
}
.sun {
    background: url(./images/CssGaga.png)
    no-repeat;
    background-size: 72px;
    background-position: -1px -33px;
    padding: 0 0 0 26px;
    color: #afbac0;
}
.site {
    background: url(./images/CssGaga.png)
    no-repeat;
    background-size: 67px;
    background-position: 1px -6px;
    padding: 0 0 0 26px;
    color: #afbac0;
}
.date h5 {
    padding: 0 0 0 26px;
}
.time h5 {
    padding: 0 0 0 26px;
}
.gg {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: #f8fafb;
    padding: 0 0 0 0;
}
.base {
    background: url(./images/task4.png)
    no-repeat;
    background-size: 28px;
    color: #5fc0cd;
    margin: 5px 0 0 8px;
    border: none;
    outline: none;
}
.write {
    border: none;
    background-color: #ffffff;
    margin: 0;
    outline: none;
}
.write li {
    background: url(./images/Write.png)
    no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin: 0 50px 0 50px;
}
.my {
    background: url(./images/task5.png)
    no-repeat;
    background-size: 28px;
    margin: 5px 0 0 0;
    border: none;
    outline: none;
}
.base p{
    position: relative;
    color: #5fc0cd;
    bottom: -19px;
    left: -6px;
}
.my p{
    position: relative;
    bottom: -19px;
    color: #5fc0cd;
    right: 6px;
}
