@media screen and (min-width: 992px) { 
    .small {
        display:none;
    }
    .link-boss {
        display: flex;
    }
}
@media screen and (max-width: 992px) { 
    .mix {
        padding: 0 40px;
    }
    .corp {
        padding: 35px;
    }
}
@media screen and (min-width: 500px) {
    .link-boss {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px) { 
    .call {
        font-size: .11rem;
    }
    .peer-boss{
        text-align: center;
    }
    .link-boss {
        text-align: center;
        padding: 0 5px;
    }
    .mix {
        padding: 0 40px;
    }
}
