@media screen and (min-width: 992px) { 
    .small {
        display:none;
    }
    .firm {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 768px) { 
    .peer-boss{
        text-align: center;
    }
    .link-boss {
        text-align: center;
    }
}