@media screen and (min-width: 1220px) {

}
@media screen and (min-width: 992px) { 
    .small {
        display:none;
    }
    .firm {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 768px) {
    .bag {
        display: flex;
        align-items: center;
    }
    .wb {
        margin-right: .1rem;
    }
    .menu {
        display: none;
    }
    .nav {
        text-align: right;
        width: 100%;
        height: .52rem;
    }
    .navbar {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;
        width: .5rem;
        padding: .135rem 0;
        color: #fff; 
    }
    .navbar:hover {
        border-bottom: 4px solid #fff; 
    }
}
@media screen and (max-width: 768px) {
    input[type=checkbox]:checked ~ .sky {
        display: block
    }
    .sky {
        display: none;
        list-style:none;
        font-size: .15rem;
    }
    .sky {
        text-align: center;
        margin-top: -4px;
    }
    .open {
        padding: 5px 0;
    }
    .peer-boss{
        text-align: center;
    }
    .wed {
        justify-content: center;
    }
    .bag {
        text-align: center;
    }
}
@media screen and (min-width: 1220px) {

}
@media screen and (min-width: 992px) { 

}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 768px) {

}