
@media screen and (min-width: 992px) { 
    .lump {
        width: 80%;
    }
}
@media screen and (max-width: 768px) { 
    .inner {
        margin-right: 0;
    }
    .peer-boss{
        text-align: center;
    }   
}
