body {
    margin:0;
    background-color: #66cccc;
   
}
.b {
    margin: 10px 0 20px 17px;
}
.b img {
    height: 25px;
}
.c{
    margin: 20px;
    text-align: center;
}
.d{
    margin:60px 40px 85px 40px;
    text-align: center;
    font-size: 5px;
    color: #ffffff
}
.c img {
    margin: 20px;
    height: 35px;
}
.logo_left { 
    float: left;
    margin: 0 5% 80px 10%;
    text-align:center
}
.logo_right {   
    float: right;
    margin: 0 10% 80px 5%;
    text-align:center;
}
.logo_right img{
    height: 50px;
}
.logo_left img {
    height: 50px;
}

.zf{
    font-size: 5px;
}