body {
    margin: 0;
}
.header {
    background-color: #66cccc;
    margin: 0;
    padding: 15px;
}
.main {
    float: left;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    margin: -7px;
}
.recede {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: #ffffff;
    padding: 0;
}
.logo img {
    margin: 30px 0 10px 10px;
    height: 89px;
}
.logo {
    background:url("./images/tack1.png") 
    no-repeat;  
    height: 162px;
    background-size: 100% auto;
}
.site {
    float:left;
    position: absolute;
    top: 112px;
    left: 111px;
    right: 103px;   
}
.site p {
    font-size: 12px;
    display:inline-block;
    padding: 0 0 0 28px;
    color: #ffffff;
    width: 84px;
}
.site img {
    position: absolute;
    margin: 15px;
    height: 10px;
}
.txet {
    float: left;
    position: absolute;
    top: 80px;
    left: 120px;
    right: 110px;
    color: #ffffff;
}
.txet p {
    font-size: 15px;
    color: #ffffff;
    width: 84px;
}
.one {
    padding: 10px;
}
.one p {
    margin: 0 0 0 10px;
    padding: 2px;
    font-size: 15px;    
    display:inline;
    border-left: 3px solid #66cccc;
    padding-left: 12px; 
}
.title{
    border-top: 1px solid #ccccff;
    padding: 10px;
}
.title p {
    border-top:1px solid #ccccff;
}
.hone {
    padding: 10px;
    font-size: 15px;
    display: inline;
}       
.hone img {
    height: 10px;
}
.no{
    font-size: 15px;
    display: inline;
    border-left: 1px solid #ccccff;
    padding: 2px;
    padding-left: 11px;
}
.no img {
    height: 10px;
}
.age {
    margin: 0 0 0 10px;
    border-top: 1px solid #ccccff;
    padding: 10px;
}
.sun {
    margin: 0 0 0 10px;
    border-top: 1px solid #cccccc;
    padding: 10px;
}
.price{
    margin: 0 0 0 10px;
    color:#d35555;
    border-top: 1px solid #cccccc;
    padding: 10px;
}
.state {
    margin: 0 0 0 10px;
    display:flex;
    align-items: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ccccff;
    padding: 10px;
}
.age1 {
    padding: 2px;
    font-size: 15px;    
    display:inline;
    color: #cccccc;
    border-right: 1px solid #ccccff;
    padding-right: 11px; 
}
.age2 {
    padding: 2px;
    font-size: 15px;
    display: inline;
}
.age3 {
    padding-right: 8px;
    font-size: 15px;
    color: #cccccc;
    border-right: 1px solid #ccccff;
    white-space: nowrap;
}
.age4 {
   margin-left: 5px;
   font-size: 10px;
}
.end{
    display:flex;
    justify-content:space-around; 
    position:fixed;
    bottom: 5px;
    width: 100%;
}
.stay {
    background-color: #ffffff;    
    color: #66cccc;
    padding: 8px 0 8px ;
    margin: 0 5px 2px 12px;
    border-radius: 0.5rem;
    border-color: #66cccc;
    width: 100%;
}
.coll {
    background-color: #66cccc;    
    color: #ffffff;
    padding: 8px 0 8px 0;
    margin: 0  12px 2px 12px;
    border-radius: 0.5rem;
    border-color: #66cccc;
    width: 100%;
}
